body {
  margin: 0;
  background: #eaedf1;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  color: #000;
  font-size: 50px;
  font-weight: lighter;
}

h3 {
  width: 100%;
  margin: 0;
  font-size: 30px;
  text-align: center;
}

h1::first-letter {
  color: #1e2ace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.header {
  padding: 15px;
  text-align: center;
}

.small-container {
    padding: 15px;
    margin: 15px;
    width: 700px;
    border: 5px outset #1C6EA4;
    border-radius: 35px;
}


/* Sections */
.section {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.align-right {
  align-items: right;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  box-sizing: border-box;
}

footer {
  position: fixed;
  padding: 10px 0;
  background: rgb(219, 218, 218);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.container a {
    color: #000;
}


/* This section found online */

.container h2 {
	padding-top: 30px;
	font-weight: 300;
}
.btn, .btn-two {
	margin: 9px;
}
.btn-gradient {
	margin: 5px;
}
a[class*="btn"] {text-decoration: none;}
input[class*="btn"], 
button[class*="btn"] {border: 0;}

/* 3D Button */
.btn-3d {
	position: relative;
	display: inline-block;
	font-size: 22px;
	padding: 20px 60px;
	color: white;
	margin: 20px 10px 10px;
	border-radius: 6px;
	text-align: center;
	transition: top .01s linear;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-3d.cyan:hover   {background-color: #82D1E3;}

.btn-3d:active {
	top: 9px;
}

/* 3D button colors */
.btn-3d.cyan {
	background-color: #7fccde;
	box-shadow: 0 0 0 1px #7fccde inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 rgba(102, 164, 178, .6),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}