<html>
  <head>
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  </head>
  
  <body>
	
	<div class="container-md p-3 my-3 border bg-dark text-white" id="survey">
    <h1>Survey</h1>
    <form>
      <label for="favoriteFruits">Do you like video game?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="videogame" id="radio1" value="Yes" checked>
          <label class="form-check-label" for="exampleRadios1">
            Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="videogame" id="radio2" value="No">
          <label class="form-check-label" for="exampleRadios2">
            No
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Do you prefer to play on :</label>
        <select class="form-control" name="console">
          <option value="PC">PC</option>
          <option value="PS4">PS4</option>
          <option value="XBOX">XBOX ONE</option>
        </select>
      </div>
      <label for="exampleFormControlSelect2">What are your favorites type of genres of video games?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="genre" value="Action">
          <label class="form-check-label" for="check1">Action</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="genre" value="Adventure">
          <label class="form-check-label" for="check2">Adventure </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="genre" value="Strategy">
          <label class="form-check-label" for="check3">Strategy</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="genre" value="Sports">
          <label class="form-check-label" for="check4">Sports</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="genre" value="Puzzle">
          <label class="form-check-label" for="check5">Puzzle</label>
        </div>
      </div>
      <div class="form-group">
        <label for="favoriteFruits">What is your favorite game of all time?</label>
        <input type="text" class="form-control" name="favoriteGame" placeholder="Game name..." required >
      </div>
      <div class="form-group">
        <label for="favoriteFruits">How many hours do you play in a week?</label>
        <input type="text" class="form-control" name="hoursPlayed" placeholder="Number hours..." required >
      </div>
      <label for="favoriteFruits">Select the range on how old are you?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="ageRange" value="0-18" checked>
          <label class="form-check-label" for="exampleRadios1">
            0-18
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="ageRange" value="19-30">
          <label class="form-check-label" for="exampleRadios2">
            19-30
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="ageRange" value="30+">
          <label class="form-check-label" for="exampleRadios2">
            30+
          </label>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-warning" id="bb">Submit</button>
        <p id="thanks"></p>
      </div>
    </form>
	<script src="/assets/action.js"></script>
  </body>
</html> 